---
title: Lösungen
permalink: /loesungen/
---
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={% include helpers/internal-href.html path='/leistungen/' %}">
    <link rel="canonical" href="{% include helpers/internal-href.html path='/leistungen/' %}">
    <title>Weiterleitung</title>
    <script>
      window.location.replace("{% include helpers/internal-href.html path='/leistungen/' %}");
    </script>
  </head>
  <body>
    <p><a href="{% include helpers/internal-href.html path='/leistungen/' %}">Weiter zu Leistungen</a></p>
  </body>
</html>
