<section class="section section-alt">
  <div class="container">
    <h2 class="center">{{ site.data.home.contact.heading }}</h2>

    <form class="form" method="POST" action="{{ site.data.home.contact.form_action }}">
      <div class="form-row">
        <input name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="E-Mail" required>
      </div>
      <input name="company" placeholder="Unternehmen (optional)">
      <textarea name="message" rows="5" placeholder="Wie können wir helfen?" required></textarea>

      <button class="btn btn-primary" type="submit">
        {{ site.data.home.contact.submit_text }}
      </button>
    </form>
  </div>
</section>
