<section class="section faq-section">
  <div class="container center">
    <div class="js-anim" data-anim="animate__fadeInUp" data-once="true">
      <h2 class="sec-heading">{{ site.data.home.faq.heading }}</h2>
      <p class="section-intro">{{ site.data.home.faq.text }}</p>
    </div>

    <div class="faq-list">
      {% for item in site.data.home.faq.items %}
        <details class="faq-item js-anim" data-anim="animate__fadeInUp" data-once="true"{% if forloop.first %} open{% endif %}>
          <summary>{{ item.question }}</summary>
          <p>{{ item.answer }}</p>
        </details>
      {% endfor %}
    </div>
  </div>
</section>
