<section class="section section-alt">
  <div class="container process">
    <!-- Illustration -->
    <div class="process-art js-anim" data-anim="animate__fadeInLeft">
      <img src="{{ site.data.home.process.image | relative_url }}" alt="" loading="lazy">
    </div>

    <!-- Content -->
    <div class="process-content js-anim" data-anim="animate__fadeInRight" >
      <h2 class="sec-heading">{{ site.data.home.process.heading }}</h2>
      <p>{{ site.data.home.process.text }}</p>
      <h3>{{ site.data.home.process.sub-heading  }}</h3>
      <ul class="list">
        {% for s in site.data.home.process.sub-text1 %}
          <li>{{ s }}</li>
        {% endfor %}
      </ul>
      <p>{{ site.data.home.process.sub-text2  }}</p>

      <a href="{% include helpers/internal-href.html path=site.data.home.process.primary_btn_link %}"
         class="btn btn-primary">
         {{ site.data.home.process.primary_btn }}
      </a>
    </div>


  </div>
</section>
