<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'de' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      document.documentElement.classList.add("js-enabled");
    </script>
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}" />
    <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | absolute_url }}" />
    <link rel="stylesheet" href="{% include helpers/internal-href.html path='/assets/fonts/fonts.css' %}" />
    <link rel="stylesheet" href="{% include helpers/internal-href.html path='/assets/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% include helpers/internal-href.html path='/assets/css/site.css' %}" />
    <link rel="stylesheet" href="{% include helpers/internal-href.html path='/cookie-dough/cookiebanner.style.css' %}" />
    <link rel="stylesheet" href="{% include helpers/internal-href.html path='/cookie-dough/cookiebanner.override.css' %}" />
  </head>
  <body>
    {% include navbar.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% include helpers/internal-href.html path='/cookie-dough/cookiebanner.script.js' %}"></script>
    <script>
      $(function () {
        cookieBanner.init();
      });
    </script>
  </body>
</html>
